/* Target the outline border color when mat-form-field is focused */
::ng-deep .mat-mdc-form-field.mat-focused .mdc-notched-outline__outline {
    border-color: #00adbd !important;
}

/* Optional: Change label color */
::ng-deep .mat-mdc-form-field .mdc-floating-label {
    color: #000000 !important;
}

/* Change color for the icon button if needed */
::ng-deep .mat-mdc-form-field .mdc-icon-button {
    color: #00adbd !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;
    background: #ffffff;
    color: #00adbd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.center-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    font-weight: bolder;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

button:hover,
.selected-menu-item {
    color: #004d63;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: auto;
}

mat-form-field {
    margin: 0;
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
}


button[mat-icon-button] {
    padding: 0;
    background: transparent;
    transition: transform 0.3s ease;
}

.profile-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #004d63;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

button[mat-icon-button]:hover .profile-image {
    border-color: #004d63;
    transform: scale(1.3);
}

mat-toolbar {
    position: relative;
    z-index: 5;
}

.mobile-menu-toggle {
    display: none;
}

/* For screens smaller than 1024px */
@media screen and (max-width: 1024px) {

    .logo-img {
        height: 60px;
        width: 60px;
        margin-right: 5px;
    }

    .search-container {
        width: 200px;
        justify-content: center;
        margin-left: 5px;
        flex-grow: 1;
    }

    .center-buttons {
        gap: 5px;
    }

    .right-section {
        gap: 5px;
    }

    .profile-image {
        height: 55px;
        width: 55px;
        margin-left: 10px;
        gap: 5px;
    }


}

/* For screens smaller than 768px */
@media screen and (max-width: 768px) {

    .logo-img {
        height: 60px;
        width: 60px;
    }

    .mobile-menu-toggle {
        display: inline-block;
    }

    .center-buttons,
    .right-section {
        display: none;
    }

    .navbar {
        padding: 10px 10px;
    }

    .search-container {
        width: 50%;
        justify-content: center;
        flex-grow: 1;
    }

    mat-form-field {
        width: 50%;
    }

    mat-sidenav {
        transition: transform 0.3s ease-in-out;
        position: fixed;
    }

    mat-sidenav-content {
        transition: margin-left 0.3s ease-in-out;
        z-index: 1;
    }
}


/* Mobile Menu Toggle for Devices Below 480px */
@media (max-width: 480px) {

    .logo-img {
        height: 60px;
        width: 60px;
    }

    .mobile-menu-toggle {
        display: inline-block;
    }

    .center-buttons,
    .right-section {
        display: none;
    }

    .navbar {
        padding: 10px;
    }

    .search-container {
        justify-content: center;
        margin: 10px;
        flex-grow: 1;
    }

    mat-form-field {
        width: 100%;
    }

    mat-sidenav {
        transition: transform 0.3s ease-in-out;
        position: fixed;
    }

    mat-sidenav-content {
        transition: margin-left 0.3s ease-in-out;
        z-index: 1;
    }
}