<mat-toolbar class="navbar">
    <!-- Logo Section -->
    <div class="logo">
        <img src="assets/icons/logo.png" alt="CURD Logo" class="logo-img" />
    </div>

    <!-- Mobile Menu Toggle Button -->
    <button mat-icon-button aria-label="Menu" class="mobile-menu-toggle" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <!-- Navigation Links (for larger screens) -->
    <div class="center-buttons">
        <button mat-button *ngFor="let item of menuItems()" [routerLink]="item.route"
            aria-label="{ item.label } Section" routerLinkActive="selected-menu-item" #rla="routerLinkActive"
            [class.activated]="rla.isActive">
            <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'">
                {{ item.icon }}
            </mat-icon>
            <span>{{ item.label }}</span>
        </button>
    </div>

    <!-- Right Section (User Avatar Dropdown) -->
    <div class="right-section">
        <button mat-icon-button [matMenuTriggerFor]="avatarMenu" aria-label="User Menu">
            <img src="assets/icons/profile-user.png" class="profile-pic" alt="User Avatar" />
        </button>
        <mat-menu #avatarMenu="matMenu">
            <button mat-menu-item routerLink="/profile">
                <mat-icon>person</mat-icon>
                <span>My Profile</span>
            </button>
            <button mat-menu-item routerLink="/settings">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <button mat-menu-item routerLink="/logout">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
        <!-- Logout -->
        <button mat-button routerLink="/logout" aria-label="Logout">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container *ngIf="isMobile()">
    <!-- Sidenav -->
    <mat-sidenav [(opened)]="sidenavOpen" [mode]="isMobile() ? 'over' : 'side'" class="sidenav">
        <!-- Sidenav Content -->
        <app-sidenav></app-sidenav>
        <router-outlet></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>