<mat-toolbar>
    <!-- Back Button with Icon and Text -->
    <button mat-icon-button class="example-icon" aria-label="Back">
      <div class="section">
        <mat-icon>arrow_back</mat-icon>
        <span>Back</span>
      </div>
    </button>
  
    <!-- Dashboard Button with Icon and Text -->
    <button mat-icon-button class="example-icon" aria-label="Dashboard">
      <div class="section">
        <mat-icon>dashboard</mat-icon>
        <span>DASHBOARD</span>
      </div>
    </button>
  
    <!-- Profile Button with Icon and Text -->
    <button mat-icon-button class="example-icon" aria-label="Profile">
      <div class="section">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </div>
    </button>
  
    <!-- Register Button with Icon and Text -->
    <button mat-icon-button class="example-icon" aria-label="Register">
      <div class="section">
        <mat-icon>how_to_reg</mat-icon>
        <span>Register</span>
      </div>
    </button>
  </mat-toolbar>
  