<mat-toolbar class="navbar">
    <!-- Logo Section -->
    <div class="logo">
        <img src="assets/icons/logo.png" alt="CURD Logo" class="logo-img" />
    </div>

    <!-- Navigation Links -->
    <div class="center-buttons">
        <ng-container *ngFor="let item of (isAdmin ? adminMenuItems() : userMenuItems())">
            <button mat-button [routerLink]="item.route" aria-label="{ item.label } Section"
                routerLinkActive="selected-menu-item" #rla="routerLinkActive" [class.activated]="rla.isActive">
                <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'">
                    {{ item.icon }}
                </mat-icon>
                <span>{{ item.label }}</span>
            </button>

            <!-- Settings Dropdown for Admin -->
            <mat-menu #settingsMenu="matMenu" *ngIf="item.label === 'Settings' && isAdmin">
                <button mat-menu-item *ngFor="let subItem of settingsMenuItems()" [routerLink]="subItem.route">
                    <mat-icon>{{ subItem.icon }}</mat-icon>
                    <span>{{ subItem.label }}</span>
                </button>
            </mat-menu>

            <!-- Settings Dropdown for User -->
            <mat-menu #userSettingsMenu="matMenu" *ngIf="item.label === 'Settings' && !isAdmin">
                <button mat-menu-item *ngFor="let subItem of userSettingsMenuItems()" [routerLink]="subItem.route">
                    <mat-icon>{{ subItem.icon }}</mat-icon>
                    <span>{{ subItem.label }}</span>
                </button>
            </mat-menu>
        </ng-container>
    </div>


    <!-- Search Input -->
    <div class="search-container">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search here..." [(ngModel)]="globalSearchQuery" (ngModelChange)="onSearch()"
                aria-label="Search Input" />
            <button mat-icon-button matSuffix aria-label="Search">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <!-- Right Section  -->
    <div class="right-section">
        <!-- User Avatar Dropdown -->
        <button mat-icon-button [matMenuTriggerFor]="avatarMenu" aria-label="User Menu">
            <img *ngIf="user$ | async as user;" [src]="getProfileImage()" [alt]="user.name + '\'s profile'"
                class="profile-image" />
        </button>
        <mat-menu #avatarMenu="matMenu">
            <button mat-menu-item [routerLink]="isAdmin ? '/admin/profile' : '/user/profile'">
                <mat-icon>person</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item [routerLink]="isAdmin ? '/admin/settings' : '/user/settings'">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
    <!-- Mobile Menu Toggle Button -->
    <button mat-icon-button aria-label="Menu" class="mobile-menu-toggle" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container *ngIf="isMobile()">
    <!-- Sidenav -->
    <mat-sidenav [(opened)]="sidenavOpen" [mode]="isMobile() ? 'over' : 'side'" class="sidenav">
        <!-- Sidenav Content -->
        <app-sidenav></app-sidenav>
        <router-outlet></router-outlet>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>