# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
log/
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# Output directories
dist/
build/

# TypeScript
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm/

# Optional REPL history
node_repl_history

# Coverage reports
coverage/

# Misc
temp/
*.swp
