<div class="register-container">
    <div class="register-card-wrapper">
        <!-- Left side with the image -->
        <div class="left-side">
            <img [src]="registerImage" alt="Register Illustration" class="register-image" />
        </div>
        <!-- Right side with the register form -->
        <div class="right-side">
            <h3 class="signin-header"> Already a User?<a routerLink="/login">Sign In</a></h3>
            <mat-card class="register-card">
                <mat-card-header>
                    <mat-card-title class="card-title"><b>Register to continue</b></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- Field -->
                    <form (ngSubmit)="proceedRegister()">
                        <div class="field-container" *ngFor="let field of fields">
                            <mat-form-field appearance="outline" class="full-width"
                                [ngClass]="{'input-success': field.control.valid}" id="{{field.name}}">
                                <mat-label>{{field.label}}</mat-label>
                                <mat-icon [attr.aria-label]="field.label" matPrefix>{{ field.icon }}</mat-icon>
                                <input matInput [type]="field.name === 'password' && hide() ? 'password' : 'text'"
                                    placeholder="{{field.placeholder}}" [formControl]="field.control"
                                    (blur)="updateErrorMessage()" required />
                                <button mat-icon-button *ngIf="field.name === 'password'"
                                    (click)="toggleVisibility($event)" matSuffix required type="button">
                                    <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                                </button>

                                <mat-error *ngIf="field.control.invalid">{{ field.errorMessage() }}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="register-button-row">
                            <button mat-flat-button class="full-width register-button" [disabled]="!isFormValid()">
                                <mat-icon aria-hidden="false" aria-label="Register Icon">how_to_reg</mat-icon>
                                Register
                            </button>
                        </div>
                    </form>


                </mat-card-content>
                <!-- Footer with Social Login Buttons -->
                <mat-card-footer class="register-card-footer">
                    <div class="social-button-row">
                        <span class="divider-text">
                            <hr />
                            <span>or</span>
                            <hr />
                        </span>
                        <!-- Google Button -->
                        <button mat-flat-button class="social-button google-button">
                            <mat-icon class="google-icon">
                                <img src="assets/icons/google.png" alt="Google" />
                            </mat-icon>
                            Google
                        </button>
                        <!-- Facebook Button -->
                        <button mat-flat-button class="social-button facebook-button">
                            <mat-icon class="facebook-icon">
                                <img src="assets/icons/facebook.png" alt="Facebook" />
                            </mat-icon>
                            Facebook
                        </button>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>