<h2 mat-dialog-title>{{ isEditMode ? 'Edit User' : 'Add User' }}</h2>
<mat-dialog-content>
  <form [formGroup]="userForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" required />
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()" [disabled]="userForm.invalid">
    {{ isEditMode ? 'Update' : 'Save' }}
  </button>
</mat-dialog-actions>
