<div class="dialog-container">
  <h2 class="heading">{{ isViewMode ? 'User Profile' : (isEditMode ? 'Edit User' : 'Add User' )}}</h2>
  <mat-dialog-content>
    <form [formGroup]="userForm">
      <div class="profile-container">
        <img class="profile-img" [src]="previewImage || userForm.get('profileImage')?.value || defaultProfileImage"
          alt="User Profile">

        <button mat-button *ngIf="!isViewMode" class="upload-photo-btn" (click)="fileInput.click()">
          <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
          <mat-icon>attach_file</mat-icon> Select Photo
        </button>
      </div>


      <div class="form-grid">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <mat-icon matPrefix>account_circle</mat-icon>
          <input matInput formControlName="name" required />
          <mat-error *ngIf="userForm.get('name')?.errors as errors"> {{ errorMessage(errors) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput type="email" formControlName="email" required />
          <mat-error *ngIf="userForm.get('email')?.errors as errors">{{ errorMessage(errors) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <mat-icon matPrefix>phone</mat-icon>
          <input matInput formControlName="phone" required />
          <mat-error *ngIf="userForm.get('phone')?.errors as errors">{{ errorMessage(errors) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
          *ngIf="(isEditMode || isAddMode) || (isViewMode && userForm.get('dob')?.value)">
          <mat-label>Date of birth</mat-label>
          <mat-icon matPrefix>calendar_today</mat-icon>
          <input matInput [matDatepicker]="picker" formControlName="dob">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
          <mat-error *ngIf="userForm.get('dob')?.errors as errors">{{ errorMessage(errors) }}</mat-error>
          <mat-hint>DD/MM/YYYY</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline"
          *ngIf="(isAddMode || isEditMode) || (isViewMode && userForm.get('gender')?.value)">
          <mat-label>Gender</mat-label>
          <mat-icon matPrefix>wc</mat-icon>
          <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('gender')?.errors as errors">{{ errorMessage(errors) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
          *ngIf="(isAddMode || isEditMode) || (isViewMode && userForm.get('position')?.value)">
          <mat-label>Position</mat-label>
          <mat-icon matPrefix>work</mat-icon>
          <mat-select formControlName="position">
            <mat-option value="Developer">Developer</mat-option>
            <mat-option value="Designer">Designer</mat-option>
            <mat-option value="Manager">Manager</mat-option>
            <mat-option value="QA Tester">QA Tester</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('position')?.errors as errors">{{ errorMessage(errors) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline"
          *ngIf="(isEditMode || isAddMode) || (isViewMode && userForm.get('skills')?.value)">
          <mat-label>Skills</mat-label>
          <mat-icon matPrefix>build</mat-icon>
          <input matInput formControlName="skills" />
          <mat-error *ngIf="userForm.get('skills')?.errors as errors">{{ errorMessage(errors) }}</mat-error>
        </mat-form-field>
      </div>

    </form>
    <mat-error *ngIf="userForm.errors?.['incompleteOptionalFields']" >
      {{ errorMessage({ incompleteOptionalFields: true }) }}
    </mat-error>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
    <button *ngIf="!isViewMode" mat-button class="save-button" (click)="onSave()" [disabled]="userForm.invalid">{{
      isEditMode ? 'Update' :
      'Save' }}</button>
  </mat-dialog-actions>
</div>