<app-header></app-header>
<div class="user-list-container">
  <mat-card class="user-list-card">
    <mat-card-title class="heading">Users Management</mat-card-title>
    <mat-card-content class="data">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Profile Image Column -->
        <ng-container matColumnDef="profileImage">
          <th mat-header-cell *matHeaderCellDef> Profile </th>
          <td mat-cell *matCellDef="let user">
            <img [src]="user.profileImage || profileImage" alt="{{ user.name }}" class="profile-img" />
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let user"> {{ user.phone }} </td>
        </ng-container>

        <!-- Admin Status Column -->
        <ng-container matColumnDef="isAdmin">
          <th mat-header-cell *matHeaderCellDef> Admin </th>
          <td mat-cell *matCellDef="let user">
            <mat-icon *ngIf="user.isAdmin" color="primary">check_circle</mat-icon>
            <mat-icon *ngIf="!user.isAdmin" color="warn">cancel</mat-icon>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let user">
            <button mat-icon-button color="primary" (click)="editUser(user)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteUser(user)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- No Data Row -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No users found matching "{{ filterValue }}"</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="showFirstLastButtons"></mat-paginator>


</div>