.user-list-container {
    min-height: calc(100vh - 100px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.user-list-card {
    flex: 1;
    width: 100%;
    max-width: 1400px;
    box-shadow: none;
    padding: 10px;
}

.heading {
    font-weight: 700;
    font-size: 1.8rem;
    color: #333333;
}

.profile-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

table.mat-elevation-z8 {
    width: 100%;
    font-weight: bold;
    border-collapse: collapse;
    margin-top: 20px;
}

table.mat-elevation-z8 th {
    color: #333333;
    text-align: left;
    border-bottom: 1px solid #000000;
}

table.mat-elevation-z8 td {
    border-bottom: 1px solid #bfbfbf;
    vertical-align: middle;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;

}

table.mat-elevation-z8 tr:hover {
    background-color: #fafafa;
}


button.mat-icon-button {
    margin: 0 5px;
}

.mat-cell,
.mat-header-cell {
    padding: 10px 15px;
}


@media screen and (max-width: 480px) {
    .user-list-container {
        padding: 2px;
    }

    .heading {
        font-size: 1.2rem;
        padding: 5px;
    }

    table.mat-elevation-z8 th,
    table.mat-elevation-z8 td {
        font-size: 0.5rem;
        padding: 2px;
    }

    button.mat-icon-button,
    .mat-icon {
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .mat-icon {
        font-size: 18px;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-img {
        margin-top: 5px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .user-list-card {
        flex-direction: column;
        margin: 0 auto;
    }


}