app-header {
  height: 80px;
  display: flex;
  align-items: center;
}

/* Profile Container */
.profile-container {
  max-width: 1000px;
  margin: 40px auto;
  border-radius: 25px;
}

/* Title */
.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #004d63;
  gap: 10px;
}

/* Verified Icon */
.verified-icon {
  color: green;
  font-size: 30px !important;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 2px;
}

/* Profile Header */
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.profile-img {
  width: 200px;
  height: 200px;
  object-fit: fill;
  object-position: center;
  border-radius: 50%;
  border: 3px solid #004d63;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

/* Upload Button */
.upload-photo-container {
  margin-top: 8px;
}

.upload-photo-btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #00adbd !important;
  border: 1px solid #00adbd;
  border-radius: 25px;
  cursor: pointer;
}

.upload-photo-btn:hover {
  color: #004d63 !important;
}

.file-input {
  display: none;
}

/* User Information */
.user-info {
  margin-top: 20px;
}

.info-card {
  margin-top: 15px;
  border-radius: 25px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.personal-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.personal-info-header h2,
mat-icon {
  color: #004d63;
}

.field-container {
  margin-bottom: 10px;
}

.mat-form-field {
  width: 100%;
}

.full-width {
  font-weight: bolder;
  width: 100%;
}

/* update profile Button */
.update-profile-button-row {
  display: flex;
  justify-content: center;
}

.update-btn {
  color: #00adbd !important;
  border: 1px solid #00adbd;
  border-radius: 25px;
  width: 50%;
  cursor: pointer;
}

.update-btn:hover {
  color: #004d63 !important;
}

/* Add Details Section */
.add-details {
  margin-top: 30px;
  border-radius: 25px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.add-details-title {
  font-size: 1.5em;
  color: #004d63;
}

mat-panel-description {
  font-size: 1rem;
  gap: 8px;
}

.info-deatils-card {
  margin-top: 15px;
  border-radius: 25px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


/* Add Details Button */
.add-details-button-row {
  display: flex;
  justify-content: center;
}

.add-btn {
  color: #00adbd !important;
  border: 1px solid #00adbd;
  border-radius: 25px;
  width: 50%;
  cursor: pointer;
}

.add-btn:hover {
  color: #004d63 !important;
}

/* Gender Container */
.gender-container {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-left: 0px;
}

.gender-label {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.gender-label mat-icon {
  margin-right: 4px;
}

/* Delete Account Button */
.delete-account-btn {
  display: block;
  width: 45%;
  margin: 15px auto;
  text-align: center;
  color: #00adbd !important;
  border: 1px solid #00adbd;
  border-radius: 25px;
  cursor: pointer;
}

.delete-account-btn:hover,
.delete-account-btn:hover mat-icon {
  color: red !important;
}

/* Photo Upload Container */
.upload-photo-container {
  position: relative;
}

.file-input {
  display: none;
}

.upload-photo-btn {
  position: relative;
  z-index: 1;
}

/* Spinner Container */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  background-color: #f5f5f5;
}

/* Responsive for Small Devices */
@media (max-width: 480px) {
  .profile-container {
    padding: 10px;
  }

  .profile-title {
    font-size: 28px;
  }

  .upload-photo-btn {
    z-index: 0;
  }

  .update-btn,
  .add-btn,
  .delete-account-btn {
    width: 100%;
    margin-top: 10px;
    z-index: 0;
  }

  .add-details {
    margin-top: 10px;
    padding: 0;
  }

  .add-details-title {
    font-size: 1rem;
    text-align: center;
  }

  mat-panel-description {
    font-size: 0.75rem;
  }

  .gender-container {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .gender-label {
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: bold;
  }

  mat-radio-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 0px;
  }

  mat-radio-button {
    font-size: 10px;
    flex: 0 0 auto;
  }
}