<app-header></app-header>
<!--<div class="profile-container">
    <h1>User Profile</h1>

    <div class="profile-picture">
        <img [src]="user.profileImage || 'assets/icons/profile-user.png'" alt="Profile Image" id="profile-img" class="profile-img">
        <input type="file" id="file-input" class="file-input">
    </div>
    <label for="file-input" class="file-upload-button">Upload Profile Picture</label>
<div class="user-info">
    
    <h2 class="user-header">Personal Information</h2>
        <mat-card class="user-info-card">
            <mat-card-header><h3>{{editMode ? 'Edit Your Information' :'Your Information'}}</h3></mat-card-header>
            <mat-card-content>
                <form >
                    <div class="field-container">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="user.name" name="name" required />
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="user.name" name="name" required />
                        </mat-form-field>
                    </div>
                    <div class="field-container">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput [(ngModel)]="user.name" name="name" required />
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
</div>

</div> -->