<div class="login-container">
    <div class="login-card-wrapper">
        <div class="left-side">
           <img [src]="imagePath" alt="Login Illustration" class="login-image" />

        </div>
        <div class="right-side">
            <mat-card class="login-card" appearance="outlined">
                <mat-card-header class="card-title">
                    <mat-card-title >Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="email-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your email</mat-label>
                            <input matInput placeholder="pat@example.com" [formControl]="email"
                                (blur)="updateErrorMessage()" required />
                            <mat-error *ngIf="email.invalid">{{errorMessage()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="password-container">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide() ? 'password' : 'text'" required />
                            <button mat-icon-button matSuffix (click)="clickEvent($event)"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="login-button-row">
                        <button mat-flat-button color="primary">
                            <mat-icon aria-hidden="false" aria-label="Example login icon">login</mat-icon> Login
                        </button>
                    </div>
                </mat-card-content>
                <mat-card-footer class="login-card-footer">
                    <div class="social-button-row">
                        <button mat-flat-button color="accent">
                            <mat-icon>google</mat-icon> Google
                        </button>
                        <button mat-flat-button color="primary">
                            <mat-icon>facebook</mat-icon> Facebook
                        </button>
                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>
