@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Snackbar Styles */
.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #004d63 !important;

  .mat-mdc-snack-bar-action {
    color: #004d63 !important;
  }
}

/* Success Notification */
.mat-mdc-snack-bar-container.success-snackbar {
  --mdc-snackbar-container-color: #04ff04;
}

/* Error Notification */
.mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #f44336;
}

/* Warning Notification */
.mat-mdc-snack-bar-container.warning-snackbar {
  --mdc-snackbar-container-color: #ff9800;
}

/* Info Notification */
.mat-mdc-snack-bar-container.info-snackbar {
  --mdc-snackbar-container-color: #2f9df8;
}

/* Spinner Styles */
.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #00adbd !important;
}