.sidenav-header {
    padding-top: 20px;
    text-align: center;

    >img {
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .header-text {
        >h2 {
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
        }
        
    }

    .hide-header-text{
        opacity:0 ;
        height: 0px;
    }

}