:host * {
    transition: all 500ms ease-in-out;
}

.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 100px);
    padding: 16px;
    box-sizing: border-box;
}

mat-sidenav {
    display: flex;
    padding: 20px 0;
    background-color: #fff;
}

.sidenav-header {
    text-align: center;
    color: #00adbd;
    padding: 20px;
}

.sidenav-header img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #004d63;
}

.user-name {
    color: black;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.center-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

button.menu-item,
.logout-button button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 10px 15px;
    font-weight: bold;
    color: #00adbd;
    border-left: 5px solid transparent;
    text-align: left;
    transition: color 0.3s ease, background-color 0.3s ease, border-left-color 0.3s ease;
}

button.menu-item.selected-menu-item {
    border-left-color: #00adbd;
    background-color: rgba(0, 0, 0, 0.1);
    color: #004d63;
}

.logout-button {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 30px;
}