<div class="sidenav-header">
    <img [width]="profilePicSize()" [height]="profilePicSize()" src="assets/icons/profile-user.png" alt="">
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>Akhil das</h2>
    </div>
</div>
<mat-nav-list>
    <a mat-list-item *ngFor="let item of menuItems()" [routerLink]="item.route" >
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span matListItemTitle *ngIf="!sideNavCollapsed()">{{item.label}}</span>
    </a>
</mat-nav-list>